{% extends "base.html" %}

{% block title %}Train Network{% endblock %}

{% block content %}
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      
      <h1 class="mb-4 section-title">Train a Network</h1>
      <div class="card p-4">
        <!-- Training Configuration Form -->
        <form method="post">
          <div class="mb-3">
            <!-- Model Selection -->
            <label for="model_name" class="form-label">Model Name</label>
            <select class="form-select" id="model_name" name="model_name" required>
              {% for option in models %}
                <option value="{{ option }}">{{ option }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="mb-3">
            <!-- Pretrained Weights Selection -->
            <label for="weights" class="form-label">Weights</label>
            <select class="form-select" id="weights" name="weights" required>
              {% for opt in weights_options %}
                <option value="{{ opt }}">{{ opt }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="mb-3">
            <!-- Band Combination Selection -->
            <label for="selected_bands" class="form-label">Band Combination</label>
            <select class="form-select" id="selected_bands" name="selected_bands" required>
              {% for opt in band_options %}
                <option value="{{ opt }}">{{ opt }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="mb-3">
             <!-- Dataset Percentage Selection -->
            <label for="selected_dataset" class="form-label">Dataset Percentage</label>
            <select class="form-select" id="selected_dataset" name="selected_dataset" required>
              {% for opt in dataset_options %}
                <option value="{{ opt }}">{{ opt }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="mb-3">
            <!-- Test Flag Selection -->
            <label for="test_variable" class="form-label">Test Flag (Train+Test?)</label>
            <select class="form-select" id="test_variable" name="test_variable" required>
              {% for opt in test_options %}
                <option value="{{ opt }}">{{ opt }}</option>
              {% endfor %}
            </select>
          </div>
          <!-- Submit Button -->
          <button type="submit" class="btn btn-primary w-100">Start Training</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}